{% assign id = selector | replace: ".", "-" | replace: "[", "-" | replace: "]", "-" %}
<div class="input-group mb-2">
  <label for="{{ id }}" class="visually-hidden">{{ label }}</label>
  <textarea class="form-control form-control-plaintext {{ class_name }}" type="text" name="{{ selector }}" id="{{ id }}" placeholder="{{ placeholder | default: label }}" rows="{{ rows | default : 4 }}">{{ value }}</textarea>
</div>